<div class="o-input">

<span.display> Token: </span>
<textarea rows="5" type="text" id="htmlToken" value="xxx" checked> </textarea>
<span> Pi Id: </span>
<input type="text" id="htmlPIid" class="edit" value="xxx">

</div>


<br>
   <br>
<div style="clear: both;"></div>
<h1>MyProfile</h1>
<hr/>

<div class="o-profile__ct">
  <div class="o-profile__left-column">
    <h3>My Profile</h3>
  </div>
  <div class="o-profile__right-column">
    <h4 id="myEmail">I don't know this guy</h4>
    <hr/>
    <div class="o-profile__detail-ct">
      <div class="o-profile__detail-avatar">
        <b>Profile</b><br/>
        <img id="myAvatar" src="http://jlls.info/statics/tp-avatar.gif" />
      </div>
      <div class="o-profile__detail-table">

        <table>

         <tr>
           <td width="150">Name</td>
           <td id=myName>name</td>
         </tr>
         <tr>
           <td>Email</td>
           <td id="myEmail2">name</td>
         </tr>
         <tr>
           <td>Bio</td>
           <td id='myBio'>name</td>
         </tr>
        </table>

      </div>
      <div class="o-profile__detail-edit">
        <a href="#">Edit</a>
      </div>
    </div>
  </div>

</div>
